<form>
    <div class="form-group col-md-6">
      <label for="name">Name</label>
      <input type="text" name="name" class="form-control" id="name">
    </div>
  <div class="form-group col-md-6">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="form-group col-md-6">
    <label for="age">Age</label>
    <input type="number" name="age" class="form-control" id="age">
  </div>
  <div class="form-group col-md-6">
    <button type="submit" class="btn btn-success">Submit</button>
    <a [routerLink]="['/']" routerLinkActive="router-link-active" class="btn btn-primary  ml-2">Login</a>
  </div>

  <!-- <ul *ngFor="let student of students">
      <li>{{student.name}}</li>
  </ul> -->
</form>
